{% extends 'base.html.twig' %}

{% block body %}

<table>
    <tbody>
        <tr>
            <th>Name</th>
            <td>{{product.name}}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{product.description}}</td>
        </tr>
        <tr>
            <th>Size</th>
            <td>{{product.size}}</td>
        </tr>
    </tbody>
</table>

<a href="{{ path('product_edit', {'id': product.id}) }}">Edit</a>
<a href="{{ path('product_delete', {'id': product.id}) }}">Delete</a>

<a href="{{ path('app_product')}}">Products</a>


{% endblock %}